.sortMenu {
  width: 280px;
  height: auto;
  user-select: none;
  overflow-x: hidden;
  background-color: var(--color-imayoh);
  border-radius: 10px;
  padding: 12px;
}

.menuTitle {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
  font-weight: unset;
  margin-block-start: 0;
  margin-block-end: 8px;
  padding: 4px;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

.menuListItem {
  padding-block: 8px;
  padding-inline: 4px;
}

.menuListItem:not(:last-child) {
  margin-bottom: 8px;
}

.sortingOption {
  margin: 0;
  margin-right: 4px;
  padding: 0;
  border: none;
}

.sortingOption,
.sortingLabel {
  cursor: pointer;
}

.sortingOption:checked+.sortingLabel::before {
  background-color: var(--color-imayoh);
  border-color: var(--color-imayoh);
}

.sortingOption:disabled,
.sortingOption[disabled] {
  background-color: var(--color-nibi);
  cursor: not-allowed;
}

@media screen and (min-width: 2000px) {
  .sortMenu {
    width: 400px;
  }

  .menuTitle {
    font-size: 36px;
    margin-block-end: 16px;
  }

  .menuList {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .sortMenu {
    width: 100%;
  }
}