.addNewFoodCard {
  position: relative;
  width: 360px;
  height: 660px;
  perspective: 1000px;
  user-select: none;
  filter: blur(0);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: transform .6s, box-shadow .3s;
  box-shadow: 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  width: 100%;
  height: 100%;
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: transform .6s;
}

.flipped .cardContainer {
  transform: rotateY(180deg);
}

.side {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s;
}

.flipped .side {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.front {
  background-color: var(--bg-primary);
}

.back {
  transform: rotateY(180deg);
}

.imageContainer {
  position: relative;
  width: 360px;
  height: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contentContainer {
  height: 50%;
  margin-block: 20px;
  padding-inline: 20px;
}

.name {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-primary);
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.weight,
.averagePrice,
.ingredients {
  margin-block: 0;
}

.weight,
.averagePrice {
  margin-bottom: 12px;
}

.label {
  color: var(--color-entan);
}

.descriptionContainer {
  width: 100%;
  height: 50%;
  overflow: hidden auto;
  background-color: var(--color-momo);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-inline: 20px;
  padding-block: 4px;
}

.noScroll {
  overflow-y: hidden;
}

.description {
  margin: 0;
}

.editing {
  height: 660px !important;
}

.nameEditing,
.weightEditing,
.averagePriceEditing,
.ingredientsEditing,
.descriptionEditing {
  width: 100px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
  background-color: var(--color-entan);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 4px;
}

.nameEditing::placeholder,
.weightEditing::placeholder,
.averagePriceEditing::placeholder,
.ingredientsEditing::placeholder,
.descriptionEditing::placeholder {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-shironezumi);
  text-align: center;
}

.nameEditing {
  width: 200px;
  font-family: 'Noto Sans Medium', sans-serif;
  text-align: center;
}

.ingredientsEditing,
.descriptionEditing {
  width: 100%;
}

.ingredientsEditing {
  height: 160px;
  margin-top: 8px;
  overflow: hidden;
}

.descriptionEditing {
  height: 220px;
}

.imageEditing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.imageEditingLabel {
  position: absolute;
  left: 45%;
  top: 45%;
  color: var(--text-primary);
  text-align: center;
  cursor: pointer;
}

.imageEditingLabelIcon {
  font-size: 40px;
  line-height: 1.5;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
.weightEditing::-webkit-outer-spin-button,
.averagePriceEditing::-webkit-outer-spin-button,
.weightEditing::-webkit-inner-spin-button,
.averagePriceEditing::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flipCardButton,
.saveEditingButton,
.cancelEditingButton {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  color: var(--text-primary);
  background-color: var(--color-imayoh);
  margin-right: 8px;
  margin-bottom: 20px;
  padding-block: 8px;
  padding-inline: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px rgba(8, 8, 8, 0.15);
  transition: background-color .2s;
}

.flipCardButton:hover,
.saveEditingButton:hover,
.cancelEditingButton:hover {
  background-color: var(--color-entan);
}

.saveEditingButton:disabled,
.saveEditingButton[disabled],
.cancelEditingButton:disabled,
.cancelEditingButton[disabled] {
  background-color: var(--color-nibi);
  cursor: not-allowed;
}

@media screen and (min-width: 2000px) {
  .addNewFoodCard {
    width: 520px;
    height: 1200px;
  }

  .imageContainer {
    width: 520px;
  }

  .flipCardButton,
  .saveEditingButton,
  .cancelEditingButton {
    font-size: 20px;
    line-height: 1.5;
  }

  @media screen and (min-width: 2300px) {
    .addNewFoodCard {
      width: 600px;
    }

    .imageContainer {
      width: 600px;
    }

    .flipCardButton,
    .saveEditingButton,
    .cancelEditingButton {
      font-size: 24px;
    }
  }

  .contentContainer {
    margin-block: 40px;
    padding-inline: 40px;
  }

  .name {
    font-size: 36px;
    line-height: 1.5;
    margin-block-end: 32px;
  }

  .nameEditing,
  .weightEditing,
  .averagePriceEditing,
  .ingredientsEditing,
  .descriptionEditing {
    width: 160px;
    font-size: 32px;
    line-height: 1.5;
  }

  .nameEditing {
    width: 240px;
  }

  .ingredientsEditing,
  .descriptionEditing {
    width: 100%;
  }

  .descriptionEditing {
    height: 500px;
  }

  .nameEditing::placeholder,
  .weightEditing::placeholder,
  .averagePriceEditing::placeholder,
  .ingredientsEditing::placeholder,
  .descriptionEditing::placeholder {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  @media screen and (max-width: 425px) {
    .addNewFoodCard {
      width: 288px;
      height: 740px;
    }

    .imageContainer {
      width: 288px;
    }

    .flipCardButton,
    .saveEditingButton,
    .cancelEditingButton {
      padding-inline: 8px;
    }
  }
}