.searchContainer {
  display: flex;
  width: 600px;
  border: solid 1px var(--color-imayoh);
  border-radius: 20px;
  overflow: hidden;
}

.searchContainer:hover:not(.active) {
  border-color: #212121;
}

.active {
  outline: solid 2px var(--color-blue);
  outline-offset: -1px;
}

.searchInput {
  flex: 1;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  padding-block: 10px;
  padding-inline-start: 32px;
  padding-inline-end: 12px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-nibi);
}

/* Internet Explorer 10-11 */
.searchInput:-ms-input-placeholder {
  color: var(--color-nibi);
}

/* Microsoft Edge */
.searchInput::-ms-input-placeholder {
  color: var(--color-nibi);
}

.searchButton {
  display: block;
  background-color: var(--color-imayoh);
  border: none;
  outline: none;
  margin: 0;
  padding-block: 10px;
  padding-inline: 32px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.searchButton:hover {
  background-color: var(--color-azuki);
}

.clearButton {
  display: block;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  margin-right: 12px;
  padding: 0;
  cursor: pointer;
}

.clearIcon {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.iconContainer {
  display: inline-block;
  margin-right: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.searchButtonText {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
}

.searchButton:disabled,
.seacrhButton[disabled] {
  background-color: var(--color-nibi);
  cursor: not-allowed;
}

@media screen and (min-width: 2000px) {
  .searchContainer {
    width: 1000px;
  }

  .searchInput {
    font-size: 32px;
    line-height: 1.4;
    padding-block: 20px;
    padding-inline-start: 52px;
    padding-inline-end: 32px;
  }

  .searchButton {
    padding-block: 20px;
    padding-inline: 52px;
  }

  .clearIcon {
    font-size: 32px;
    line-height: 1.4;
  }

  .iconContainer {
    margin-right: 16px;
  }

  .icon {
    width: 28px;
    height: 28px;
    vertical-align: baseline;
  }

  .searchButtonText {
    font-size: 32px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1439px) {
  .searchButton {
    padding-inline: 28px;
  }

  @media screen and (max-width: 800px) {
    .searchButton {
      padding-inline: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .searchContainer {
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    margin-bottom: 60px;
  }

  .searchInput {
    padding-inline-start: 12px;
    padding-inline-end: 8px;
  }

  .searchButton {
    text-align: center;
    padding-block: 12px;
    padding-inline: 32px;
    border-top-left-radius: 0;
  }

  .clearButton {
    margin-right: 0;
    margin-bottom: 12px;
  }
}