.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 156px;
}

@media screen and (min-width: 2560px) {
  .container {
    padding-inline: 300px;
  }
}

@media screen and (max-width: 1439px) {
  .container {
    padding-inline: 16px;
  }
}