.dataList {
  width: 100%;
}

.foodList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.requestTable {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.requestHeader {
  padding: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--color-imayoh);
}

.empty {
  width: auto;
  height: 100vh;
}

.errorText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-block: 0;
}

@media screen and (min-width: 2000px) {
  .foodList {
    row-gap: 80px;
    column-gap: 52px;
  }

  .errorText {
    font-size: 32px;
  }
}

@media screen and (max-width: 1439px) {
  .errorText {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .foodList {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  .dataList {
    overflow-x: auto;
  }
}

@media screen and (max-width: 767px) {
  .foodList {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }

  .requestTable {
    font-size: 12px;
  }
}