.mainText {
  margin-bottom: 78px;
}

.title {
  margin-block: 100px;
  margin-inline: auto;
}

.subtitle {
  margin-block-end: 28px;
}

.text {
  text-align: center;
  margin-block: 0;
}

@media screen and (max-width: 1439px) {
  .text {
    width: 75%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 767px) {
  .text {
    width: 100%;
  }
}