.foodCards {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.errorText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-block: 0;
}

@media screen and (min-width: 2000px) {
  .foodCards {
    column-gap: 52px;
  }

  .errorText {
    font-size: 32px;
  }
}

@media screen and (max-width: 1439px) {
  .foodCards {
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 40px;
  }

  .errorText {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .foodCards {
    justify-content: center;
  }
}