.footer {
  font-family: 'Noto Sans Medium', sans-serif;
  background-color: var(--color-jinzamomi);
  padding-block-start: 32px;
  padding-block-end: 20px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.footerSiteInfo {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.link {
  transition: text-decoration .3s linear;
}

.link:not(:last-child) {
  margin-right: 60px;
}

.link:hover {
  text-decoration: underline;
}

.footerBottom {
  text-align: center;
}

.footerBottom::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-azuki);
}

.footerBottomText {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}