html {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans Regular', sans-serif;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.App {
  min-height: 100vh;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.section {
  margin-bottom: 120px;
}

.title {
  display: block;
  max-width: 800px;
  font-family: 'Roboto Header', sans-serif;
  font-size: 56px;
  line-height: 1.2;
  color: var(--text-primary);
  text-align: center;
  margin: 0;
}

.subtitle {
  font-family: 'Roboto Header', sans-serif;
  font-size: 40px;
  line-height: 1.4;
  color: var(--text-primary);
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 72px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-shironezumi);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-imayoh);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-jinzamomi);
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 32px;
    line-height: 1.4;
  }

  .title {
    max-width: 1600px;
    font-size: 72px;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 56px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1439px) {
  .section {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 28px;
  }
}