.FAQ {
  width: 48%;
}

.subtitle {
  margin-block-end: 28px;
}

.questionList {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}

.questionCard {
  background-color: var(--color-imayoh);
  border-radius: 20px;
  padding-block: 16px;
  padding-inline: 20px;
}

.question {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 24px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: solid 1px var(--color-dark);
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--color-entan);
}

.answer {
  max-height: 0;
  overflow: hidden;
}

.answer.active {
  max-height: 1000px;
  margin-top: 30px;
  transition: max-height 1s linear;
}

@media screen and (min-width: 2000px) {
  .question {
    font-size: 44px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 1439px) {
  .FAQ {
    width: 75%;
    margin-inline: auto;
    margin-bottom: 116px;
  }
}

@media screen and (max-width: 767px) {
  .FAQ {
    width: 100%;
  }

  .questionCard {
    padding-block: 12px;
    padding-inline: 16px;
  }

  .question {
    font-size: 20px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}