.actionsMenu {
  width: 240px;
  height: auto;
  user-select: none;
  overflow-x: hidden;
  background-color: var(--color-imayoh);
  border-radius: 10px;
  padding: 12px;
}

.menuTitle {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
  font-weight: unset;
  margin-block-start: 0;
  margin-block-end: 8px;
  padding: 4px;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 20px;
}

.menuListItem {
  padding: 4px;
  cursor: pointer;
}

.menuListItem:not(:last-child) {
  margin-bottom: 8px;
}

.actionButton {
  flex-grow: 1;
  width: 100%;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--color-imayoh);
  margin-bottom: 8px;
  padding-block: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px rgba(8, 8, 8, 0.15);
  transition: background-color .2s;
}

.actionButton:hover {
  background-color: var(--color-entan);
}

.actionButton:disabled,
.actionButton[disabled] {
  background-color: var(--color-nibi);
  cursor: not-allowed;
}

@media screen and (min-width: 2000px) {
  .actionsMenu {
    width: 400px;
  }

  .menuTitle {
    font-size: 36px;
    margin-block-end: 16px;
  }

  .actionButton {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .actionsMenu {
    width: 100%;
  }
}