.themeToggle {
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  transform: rotate(90deg);
  transition: transform .5s ease;
}

.rotateIcon {
  transform: rotate(-90deg);
}